---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



// .btn--custom {
//     background-color: #4285F4; /* your custom color */
//     color: white !important;
//     border-radius: 25px;
//     padding: 0.4em 0.8em;
//     text-decoration: none;
//     display: inline-block;
//   }
//   .btn--custom:hover {
//     background-color: #3367D6; /* a darker shade for hover */
//     color: white;
//   }


  .btn--custom {
    background-color: white; /* your custom color */
    color: black !important;
    border-radius: 25px;
    padding: 0.4em 0.8em;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #ccc;
  }
  .btn--custom:hover {
    background-color: #f2f4f7; /* a darker shade for hover */
    color: black;
    border-color:#888;
  }

  .author__avatar img {
    max-width: 300px !important;
    width: 80% !important;
    min-width: 150px !important;
    border-radius: 30px;
    opacity: 1 !important;
  }


  .avatar {
    filter: none !important;
    opacity: 1 !important;
    transition: none !important;
  }
  
  .avatar:hover {
    filter: none !important;
    opacity: 1 !important;
  }
  